@import "../../mixin";

.intro{
    width : 100%;
    height : 100%;
    display : flex;
    padding : 0 10rem;
    align-items: center;
    
    .left{
        flex-basis : 80%;
        .title{
            font-size : 3rem;
            font-weight: bold;
        }
        .desc {
            font-size : 18px;
            color: #4a4a4a;
            margin-top : 1rem;
        }
    }
    .right{
        display : flex;
        gap : 2rem;
        span{
            display : inline-block;
            height : 80px;
            background-color:rgba(#4a4a4a, 0.2);
            width : 2px;
        }
        img{
            width : 100px;
        }
    }
}

@media screen and (max-width : 800px){
    .intro{
        padding : 0;   
        flex-direction: column-reverse;
        padding : 3rem;
        .left{
            display: flex;
            flex-direction: column;
            padding : 3rem 0;
            align-items: center;
            .title{
                font-size :1.5rem;
            }
            .desc{
                margin-top : 2rem;
                width : 15rem;
                line-height: 2rem;
                font-size : 16px;
            }
        }
        .right{
            span{
                display : none;
            }
        }
    }
}